/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --speed: 500ms;
  --tag-size: 50px;
  --bg: #1a1a1a;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background: #1a1a1a;
  color: #ffffff;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  /* border: 1px solid #ccc; */
}

*:focus {
  outline: none;
}

.form input[type='submit'],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 1;
  background: #1a1a1a;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Landing Page */
.landing {
  position: relative;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .hidden {
    display: none;
  }
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }

  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      'top'
      'about'
      'exp'
      'edu'
      'github';
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
}

/* Spotify */

.btn-spotify {
  background-color: #1db954;
  color: white;
  margin-top: 10px;
}

/* Google */

.btn-google {
  background-color: #4285f4;
  color: white;
  margin-top: 10px;
}

/* Loader */
#loading-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#bars {
  height: 180px;
  margin: auto;
  position: relative;
  width: 200px;
}

.bar {
  background: #1db954;
  bottom: 5px;
  height: 15px;
  position: absolute;
  width: 15px;
  animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
  0% {
    opacity: 0.35;
    height: 15px;
  }
  100% {
    opacity: 1;
    height: 140px;
  }
}

.bar:nth-child(1) {
  left: 5px;
  animation-duration: 474ms;
}
.bar:nth-child(2) {
  left: 25px;
  animation-duration: 433ms;
}
.bar:nth-child(3) {
  left: 45px;
  animation-duration: 407ms;
}
.bar:nth-child(4) {
  left: 65px;
  animation-duration: 458ms;
}
.bar:nth-child(5) {
  left: 85px;
  animation-duration: 400ms;
}
.bar:nth-child(6) {
  left: 105px;
  animation-duration: 427ms;
}
.bar:nth-child(7) {
  left: 125px;
  animation-duration: 441ms;
}
.bar:nth-child(8) {
  left: 145px;
  animation-duration: 419ms;
}
.bar:nth-child(9) {
  left: 165px;
  animation-duration: 487ms;
}

.bar:nth-child(10) {
  left: 185px;
  animation-duration: 442ms;
}

/* Playlist List */

/* Playlist Items */
.playlist-item {
  height: 150px;
  width: 150px;
}

.playlist-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8); /* Black see-through */
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.playlist-name,
.playlist-size {
  font-size: 15pxpx;
  margin-bottom: 0px !important;
  cursor: 'pointer';
}

.track-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 2px solid white;
  border-radius: 10 px;
  width: 100%;
  min-height: 50px;
  margin: 5px;
}

.track-text {
  margin: 0px auto !important;
  padding-left: 5px;
}

.audio-icon {
  max-width: 70%;
  margin: auto;
  fill: black;
}

/* Tag Styling */

.tag-box {
  height: var(--tag-size);
  background: var(--bg);
}

.tag-box-tags {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.tag-item {
  /* width: calc(var(--tag-size) * 0.8); */
  padding: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.tag-button {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #17a2b8;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 0.15rem;
}

/* Icon Button */
.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: none;
  border-radius: 50%;
  padding: 4px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
  z-index: 1;
  cursor: pointer;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.dropdown {
  background-color: var(--bg);
  position: absolute;
  top: 10px;
  transform: translateX(-10%);
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  border: var(--border);
  border-radius: var(--border-radius);
  transition: height var(--speed) ease;
}

.menu {
  min-width: 200px;
  width: 100%;
}

.menu-header {
  display: flex;
  justify-content: center;
  width: 100;
  margin: auto;
  padding: 2px;
}
.menu-title {
  margin-bottom: 0px;
  font-size: 13px;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  color: white;
  z-index: 1;
  border-radius: var(--border-radius);
  background: var(--bg);
  border: none;
  transition: background var(--speed);
  padding: 1rem;
  margin: 3px;
}

.menu-item:hover {
  background-color: #525357;
}

.menu-primary-enter {
  position: relative;
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-primary-exit {
  position: relative;
}

.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  position: relative;
  transform: translateX(-110%);
}

.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit {
  position: relative;
}

.menu-secondary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

/* OLD TAG */

.tag-input {
  background-color: inherit;
  border: none;
  color: white;
  padding: 3px;
  margin: 2px;
}

/* .tag {
  display: flex;
  line-height: 25px;
  justify-content: center;
  align-items: center;
  padding: 3px;
  margin: 2px;
  border: 1px solid #1a1a1a;
  border-radius: 15px;
  background-color: #ff0000;
} */

.tag-text {
  margin-bottom: 0px !important;
  padding-bottom: 0px;
}

.icon {
  margin: 0px auto;
  font-size: 16px;
  padding-left: 5px;
  max-height: 15px;
  max-width: 15px;
}

.cancel {
  color: black !important;
}

.hashtag {
  padding-right: 0px !important;
  padding-bottom: 6px !important;
}

.genre {
  background-color: green;
}
.playlist {
  background-color: #0000ff;
}

.popup-content {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
  color: black;
  background: transparent !important;
  border: none !important;
}
.popup > .selections {
  display: flex;
  flex-direction: column;
  background: transparent !important;
}

.popup-button {
  width: 100%;
  border-radius: 25px;
}
